.Side
  .Side__header
    .Side__header_form
      .Side__name
        = current_user.name
      .Side__icon
        = link_to  new_group_path, class: "Side__btn" do
          %i.fas.fa-edit
        = link_to  edit_user_path(current_user), class: "Side__btn" do
          %i.fa.fa-cog
  .Side__groups
    - current_user.groups.each do |group|
      .Side__group
        = link_to  group_messages_path(group), class: "Sidelink" do
          .Side__group_name
            = group.name
          .Side__message
            = group.show_last_message